*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background: url(../Assets/background.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-y: -80px;
    overflow: hidden;
}
.id span{
    color: #000;
    font-family: Kaindra;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 12px;   
    text-shadow: 0 0 3px #ffffff;
}

.id{
    justify-content: flex-end;
    display: flex;
}

#run{
    margin-top: 2%;
    display: flex;
    justify-content: center;

}

#flex{
    display: flex;
    justify-content: center;
}